<section class="page-title">
  <h1><%= title_case @name %></h1>
</section>

<section class="row">
  <%= for product <- @products do %>
      <div class="col-md-4">
        <%= render MangoWeb.ProductView, "product_card.html", conn: @conn, product: product %>
      </div>
  <% end %>
</hp>
