/* This file is for your main application css. */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

.navbar-brand img {
  width: 35px;
  height: 35px;
}

.nav-link > a {
  color: #ec5d57;
}

h1 {
  color: #ec5d57;
}

.btn-primary {
  background-color: #ec5d57;
  border-color: #ec5d57;
}

.btn-primary:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Phoenix flash messages */
.alert:empty {
  display: none;
}

/* Phoenix inline forms in links and buttons */
form.link,
form.button {
  display: inline;
}
