<section class="page-title">
  <h1>Seasonal Products</h1>
</section>

<section class="row">
  <%= for product <- @seasonal_products do %>
    <div class="col-md-4">
      <%= render MangoWeb.ProductView, "product_card.html", product: product %>
    </div>
  <% end %>
</section>
